<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeteorDetect_Win.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <MeteorDetect_Win.My.MySettings>
            <setting name="SaveDirectoryBase" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ContinuousDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SysEnableDetect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SysGamma" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="SysThreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SysMinLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SysAccSec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SysLineGap" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SysHough" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SysPreRoll" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SysPostRoll" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ZwoUsbBandwidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ZwoHighSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZwoCoolerOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZwoTargetTemp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SysEnableClahe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SysClaheClip" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ZwoFlip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RtspUrl" serializeAs="String">
                <value>rtsp://5111:6132@192.168.0.53/live</value>
            </setting>
            <setting name="SysEnableSchedule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SysScheduleStart" serializeAs="String">
                <value>21:30</value>
            </setting>
            <setting name="SysScheduleEnd" serializeAs="String">
                <value>04:00</value>
            </setting>
        </MeteorDetect_Win.My.MySettings>
    </userSettings>
</configuration>
